@font-face {
    font-family: 'ES Rebond Grotesque TRIAL Exlight';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-ExtralightItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL ExBd';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-ExtraboldItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL Exlight';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Extralight.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-BoldItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Bold.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL ExBd';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Extrabold.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Regular.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Italic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL SmBd';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-SemiboldItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL SmBd';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Semibold.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-MediumItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Light.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Medium.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-LightItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL Hairline';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Hairline.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL Hairline';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-HairlineItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-ThinItalic.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque TRIAL';
    src: url('../webfonts/ESRebondGrotesqueTRIAL-Thin.woff2') format('woff2'),
        url('../webfonts/ESRebondGrotesqueTRIAL-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

